---
eleventyNavigation:
  key: "{{ authorData.author }}"
  parent: Authors
eleventyComputed:
  title: "{{ authorData.author }} | Reading"
pagination:
  data: collections.authors
  size: 1
  alias: authorData
permalink: "/reading/authors/{{ authorData.author | slugify }}/"
excludeFromSitemap: true
---
<header class="main-header">
  {% include "partials/breadcrumb.njk" %}
  <h1>{{ authorData.author }}</h1>
</header>

<section>
  <header>
    <h2 class="title">{{ authorData.books.length }} book{{ 's' if authorData.books.length !== 1 }}</h2>
  </header>
  <ul role="list" class="collection__grid">
    {% for book in authorData.books %}
    <li>
      <a href="/reading/works/{{ book.title | slugify }}-{{ book.author | slugify }}/"
        class="collection__item surface">
        <img
          src="../img/{{ book.title | slugify }}-{{ book.author | slugify }}.jpg"
          sizes="(min-width: 1740px) 280px, (min-width: 1460px) 16.92vw, (min-width: 1380px) calc(33.33vw - 157px), (min-width: 1180px) calc(22.78vw - 30px), (min-width: 880px) calc(30.36vw - 26px), (min-width: 780px) calc(46.25vw - 27px), (min-width: 580px) calc(11.67vw - 15px), calc(23.08vw - 11px)"
          alt="{{ book.title }}"
          class="collection__image">
        <div class="collection__details">
          <h3 class="title">{{ book.title }}</h3>
          {% if book.favourite %}
          <div class="badge"><svg width="14" height="14" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg> Favourite</div>
          {% endif %}
        </div>
        <svg width="36" height="36" viewBox="-6 -6 36 36" class="collection__action action icon-stroke"
          aria-hidden="true">
          <use xlink:href="#icon-chevron-right"></use>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

{% set allAuthors = collections.authors %}
{% set currentIndex = pagination.pageNumber %}
{% set previousAuthor = allAuthors[currentIndex - 1] %}
{% set nextAuthor = allAuthors[currentIndex + 1] %}
<nav aria-label="pagination">
  {% if previousAuthor %}
    <a href="/reading/authors/{{ previousAuthor.author | slugify }}/" class="icon-link prev">
      <svg width="36" height="36" viewBox="-6 -6 36 36" class="action icon-stroke" aria-hidden="true">
        <use xlink:href="#icon-chevron-left"></use>
      </svg>
      <span class="visually-hidden">Previous:</span> {{ previousAuthor.author }}
    </a>
  {% endif %}
  {% if nextAuthor %}
    <a href="/reading/authors/{{ nextAuthor.author | slugify }}/" class="icon-link next">
      <span class="visually-hidden">Next:</span> {{ nextAuthor.author }}
      <svg width="36" height="36" viewBox="-6 -6 36 36" class="action icon-stroke" aria-hidden="true">
        <use xlink:href="#icon-chevron-right"></use>
      </svg>
    </a>
  {% endif %}
</nav>
