/**
 * GLOBAL
 */

body {
  font-family: var(--font-display);
  font-size: var(--text-size-0);
  font-variation-settings: "wght" 300, "wdth" 95;
  font-optical-sizing: auto;
  margin: 0;
  background: var(--surface-back);
  color: var(--text-colour-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: var(--flow-space);
  font-variation-settings: "wght" 600, "wdth" 75;
  color: var(--secondary-5);
  line-height: 1.1;
}

h1 {
  font-size: var(--text-size-7);
  font-variation-settings: "wght" 800, "wdth" 85;
  line-height: 1;
}

h2 {
  font-size: var(--text-size-5);
}

h3 {
  font-size: var(--text-size-4);
}

h4 {
  font-size: var(--text-size-3);
}

h5 {
  font-size: var(--text-size-2);
}

h6 {
  font-size: var(--text-size-1);
}

:is(h1, h2, h3, h4, h5, h6) + * {
  --flow-space: var(--space-3xs-2xs);
}

p {
  margin-block-start: var(--flow-space);
}

strong {
  font-variation-settings: "wght" 600;
}

a {
  color: currentColor;
  text-decoration-thickness: 1.25px;
  text-underline-offset: 0.25ex;
  text-decoration-color: var(--primary-4);
  &:hover {
    text-decoration-color: var(--primary-6);
  }
}

:focus {
  outline: 1.75px solid var(--primary-4);
  outline-offset: 2.25px;

}

::selection {
  background: var(--primary-4);
  color: var(--text-colour-1);
}

[id] {
  scroll-margin-top: var(--gutter);
}

small {
  font-size: var(--text-size--1);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--surface-mid);
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
}

ul:not([role="list"]),
ol:not([role="list"]) {
  padding-inline-start: var(--space-xs);
  margin-block-end: 0;
  li {
    &::marker {
      color: var(--text-colour-2);
    }
    &:not(:last-of-type) {
      margin-block-end: var(--space-3xs-2xs);
    }
  }
}

dt {
  font-variation-settings: "wght" 600;
}

dd {
  margin-inline-start: 0;
  &:not(:last-of-type) {
    margin-block-end: var(--space-3xs-2xs);
  }
}

table {
  text-align: left;
  border-collapse: collapse;
  caption {
    padding: var(--space-2xs) 0;
  }
  th,
  caption {
    text-align: start;
    font-variation-settings: "wght" 500;
  }
  th,
  td {
    padding: var(--space-2xs);
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  td {
    border-top: 1px solid var(--surface-mid);
    vertical-align: top;
  }
}

form,
fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

fieldset {
  border: 1px solid var(--surface-mid);
  margin: 0;
  padding: var(--flow-space);
}

legend {
  padding-inline: var(--space-3xs);
  font-variation-settings: "wght" 500;
  max-width: max-content;
}

label {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
  width: fit-content;
  text-wrap: nowrap;
}

input {
  margin: 0;
  padding: 0;
  &[type="range"] {
    width: 100%;
    accent-color: var(--primary-3);
    /* &::-webkit-slider-runnable-track {
      background: var(--primary-3);
      border-radius: var(--border-radius);
    } */
  }
}

pre {
  overflow: auto;
  scrollbar-color: var(--surface-mid) var(--surface-back);
  margin-block-end: 0;
}

header {
  display: flex;
  gap: var(--flow-space);
  flex-direction: column;
  .title {
    margin-block-start: 0;
    font-size: var(--text-size-4);
  }
  &.row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

section > header {
  margin-block-end: var(--flow-space);
}

summary {
  --size: 36px;
  padding-inline-end: calc(var(--space-2xs) + var(--size));
  cursor: pointer;
  position: relative;
  > * {
    display: inline;
  }
  h2 {
    font-size: var(--text-size-4);
  }
  &::marker {
    content: none;
  }
  &::-webkit-details-marker {
    display: none;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.15s ease-in-out;
    width: var(--size);
    height: var(--size);
  }

  &:after {
    background-color: var(--primary-3);
    border-radius: calc(var(--size) / 2);
  }

  &:before {
    z-index: 1;
    background-color: var(--primary-6);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpolyline points='6 9 12 15 18 9' stroke='%23000' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3C/polyline%3E%3C/svg%3E");
    mask-position: center;
    mask-repeat: no-repeat;
  }
  &:hover {
    &:before {
      background-color: var(--primary-3);
    }
    &:after {
      background-color: var(--primary-6);
    }
  }

  details[open] & {
    &:before {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}

figure,
blockquote {
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

blockquote {
  font-size: var(--text-size-1);
  font-variation-settings: "wght" 300, "wdth" 85;
  border-left: 3px solid var(--quaternary-5);
  padding-inline-start: var(--space-2xs-xs);
}

figure:has(picture) {
  figcaption {
    text-align: center;
  }
}

figure:has(blockquote) {
  figcaption,
  figcaption.meta {
    margin-inline-start: calc(3px + var(--space-2xs-xs));
  }

  &.surface {
    position: relative;
    border-radius: var(--border-radius-l);
    padding: var(--flow-space);

    & blockquote,
    & blockquote p {
      margin-block-start: 0;
    }

    &:after {
      position: absolute;
      content: "";
      background-color: var(--surface-fore);
      mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 24,0 0,24'%3E%3C/polygon%3E%3C/svg%3E");
      mask-size: contain;
      display: block;
      width: 32px;
      height: 32px;
      bottom: 0;
      left: 0;
      transform: translateY(50%);
    }

    &:nth-of-type(2n):after {
      left: auto;
      right: 0;
      transform: translateY(50%) scaleX(-1);
    }
  }
}

figcaption {
  margin-block-start: var(--space-3xs);
}

.standfirst {
  font-size: var(--text-size-3);
  font-variation-settings: "wght" 300, "wdth" 75;
  text-wrap: balance;
  line-height: 1.25;
}

.prose {
  > * + * {
    margin-block-start: var(--flow-space);
  }
}

.surface {
  background: var(--surface-fore);
}

.action {
  --action-size: 36px;
  display: flex;
  flex-shrink: 0;
  border-radius: calc(var(--action-size) / 2);
  width: var(--action-size);
  height: var(--action-size);
  background: var(--primary-3);
  color: var(--primary-6);
  transition: all 0.15s ease-in-out;
  &:hover {
    background: var(--primary-6);
    color: var(--primary-3);
  }
}

.action--small {
  --action-size: 32px;
  width: var(--action-size);
  height: var(--action-size);
}

.badge {
  --badge-size: 28px;
  height: var(--badge-size);
  background: var(--quaternary-3);
  color: var(--quaternary-7);
  font-size: var(--text-size--2);
  font-variation-settings: "wght" 700;
  text-transform: uppercase;
  letter-spacing: .025em;
  border-radius: calc(var(--badge-size) / 2);
  padding: 0 var(--space-2xs);
  width: max-content;
  display: inline-flex;
  align-items: center;

  &:has([class*="icon"]) {
    gap: var(--space-3xs);
  }
}

.icon-link {
  display: inline-flex;
  gap: var(--space-2xs);
  align-items: center;
  width: fit-content;
  &:hover .action {
    background: var(--primary-6);
    color: var(--primary-3);
  }
}

.icon-button {
  --action-size: 36px;
  display: inline-flex;
  align-items: center;
  gap: var(--space-3xs);
  width: fit-content;
  height: var(--action-size);
  padding: 0 var(--space-xs);
  background: var(--primary-3);
  border-radius: calc(var(--action-size)/2);
  color: var(--primary-6);
  text-decoration: none;
  font-variation-settings: "wght" 700;
  font-size: var(--text-size--1);
  transition: all .15s ease-in-out;
  &:hover {
    background: var(--primary-6);
    color: var(--primary-3)
  }
}

.counter,
.hue-counter {
  --counter-size: 36px;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--counter-size) / 2);
  width: var(--counter-size);
  height: var(--counter-size);
  font-size: var(--text-size--1);
  font-variation-settings: "wght" 700, "wdth" 75;
}

.counter {
  background: var(--quaternary-3);
  color: var(--quaternary-7);
}

.hue-counter {
  background: var(--primary-3);
  color: var(--primary-7);
}

.meta {
  font-size: var(--text-size--1);
  color: var(--text-colour-2);
  font-variation-settings: "wght" 700;
  text-transform: uppercase;
  letter-spacing: .025em;

  &:has(.counter) {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3xs);
  }
}

.sticky {
  position: sticky;
  top: var(--gutter);
}
