/**
 * MEMORIES
 */

.memories__grid {
  display: grid;
  gap: var(--space-xs);
  > * {
    min-width: 0;
  }
}

@media (width <=768px) {
  .memories__grid {
    grid-template-columns: 1fr;
    > * {
      grid-column: 1 / -1;
    }
  }
}

@media (width >=769px) {
  .memories__grid:has(> *:first-child:nth-last-child(1)) {
    grid-template-columns: 1fr;
  }

  .memories__grid:has(> *:first-child:nth-last-child(2)) {
    grid-template-columns: 1fr 1fr;
  }

  .memories__grid:has(> *:first-child:nth-last-child(3)) {
    grid-template-columns: 1fr 1fr;
  }

  .memories__grid:has(> *:first-child:nth-last-child(3))>*:nth-child(3) {
    grid-column: 1 / -1;
  }
}

.memories {
  --outline-width: 0.5ex;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  padding: var(--space-2xs);
  border-radius: var(--border-radius);
  .title {
    margin-block-start: 0;
    color: currentColor;
    font-size: var(--text-size-0);
    font-variation-settings: "wght" 600;
    text-transform: uppercase;
    letter-spacing: .025em;
  }
  dl,
  ul {
    margin-block-start: 0;
  }
  .meta {
    color: currentColor;
    font-size: var(--text-size--2);
  }
}
.connections {
  gap: calc(var(--space-2xs) - var(--outline-width));
}

.people {
  --badge-size: 36px;
}

.people__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
}

.people__wrapper {
  position: relative;
}

.people__item {
  cursor: pointer;
  border-radius: calc(var(--badge-size)/2);
  font-size: var(--text-size--1);
  width: fit-content;
  display: inline-flex;
  align-items: center;
  height: var(--badge-size);
  padding: 0 var(--space-2xs);
  touch-action: manipulation;
}

.people__tooltip {
  position: absolute;
  left: 0;
  top: calc(var(--badge-size) + var(--space-2xs));
  font-size: var(--text-size--1);
  border-radius: var(--border-radius-s);
  padding: var(--space-3xs) var(--space-2xs);
  z-index: 1;
  white-space: nowrap;
  margin-block-end: 0;
  &::before {
    content: "";
    position: absolute;
    top: calc(var(--space-3xs) * -1);
    left: var(--space-2xs);
    border-left: var(--space-3xs) solid transparent;
    border-right: var(--space-3xs) solid transparent;
  }
}

.places__list {
  margin-block-end: 0;
  padding-inline-start: 0 !important;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.places__item {
  color: currentColor;
  font-size: var(--text-size--1);
  margin-block-end: 0 !important;
  padding: var(--space-3xs);
  border-radius: var(--border-radius-s);
  display: flex;
  gap: var(--space-3xs);
  text-decoration: none;
}

.places__icon {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
}

.places__map {
  border-radius: var(--border-radius-s);
}

.connections__wrapper {
  position: relative;
  &:has(.connections__list > li:nth-child(2))::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--space-s-m);
    pointer-events: none;
    z-index: 1;
  }
  &:focus {
    outline: none;
  }
}

.connections__list {
  margin-block-end: 0;
  padding-inline-start: 0;
  display: grid;
  gap: calc( var(--flow-space) - var(--outline-width)) ;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: currentColor transparent;

  @media (width >= 769px) {
    grid-auto-columns: calc((100% - var(--flow-space)) / 2);
    &:has(li:nth-child(3)) {
      grid-auto-columns: calc((100% - var(--flow-space) * 2) / 3);
    }
  }
  > li {
    margin: var(--outline-width);
  }
}

.connections__item {
  display: flex;
  height: 100%;
  gap: var(--flow-space);
  padding: var(--space-2xs);
  border-radius: var(--border-radius-s);
  text-decoration: none;
  scroll-snap-align: start;
}

.connections__image {
  border-radius: var(--border-radius-s);
  flex-shrink: 0;
  max-width: 60px;
}

.connections__details {
  .title {
    font-size: var(--text-size--1);
    text-transform: initial;
    letter-spacing: initial;
  }
  .meta {
    margin-block-start: 0;
  }
}

[data-theme=light] {
  .memories {
    &.people {
      background: var(--primary-3);
      color: var(--primary-7);
    }
    &.places {
      background: var(--secondary-3);
      color: var(--secondary-7);
    }
    &.connections {
      background: var(--tertiary-3);
      color: var(--tertiary-7);
    }
    .connections__wrapper:has(.connections__list > li:nth-child(2))::after {
      background: linear-gradient(to right, transparent, var(--tertiary-3));
    }
    .people__item,
    .people__tooltip {
      background: var(--primary-1);
    }
    .people__tooltip::before {
      border-bottom: var(--space-3xs) solid var(--primary-1);
    }
    .places__item {
      background: var(--secondary-1);
    }
    .connections__item {
      background: var(--tertiary-1);
    }
  }
}

[data-theme=dark] {
  .memories {
    &.people {
      background: var(--primary-5);
      color: var(--primary-9);
    }
    &.places {
      background: var(--secondary-5);
      color: var(--secondary-9);
    }
    &.connections {
      background: var(--tertiary-5);
      color: var(--tertiary-9);
    }
    .connections__wrapper:has(.connections__list > li:nth-child(2))::after {
      background: linear-gradient(to right, transparent, var(--tertiary-5));
    }
    .people__item,
    .people__tooltip {
      background: var(--primary-3);
    }
    .people__tooltip::before {
      border-bottom: var(--space-3xs) solid var(--primary-3);
    }
    .places__item {
      background: var(--secondary-3);
    }
    .connections__item {
      background: var(--tertiary-3);
    }
  }
}
