/**
 * POSTS
 */

.post__list {
  --marker-size: var(--space-s);
  --track-size: var(--space-3xs);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--flow-space);
  margin: 0;
  padding: 0;
  padding-left: var(--flow-space);

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: var(--track-size);
    height: 100%;
    background: var(--quaternary-3);
    border-radius: calc(var(--track-size) / 2);
  }
}

.post__item {
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-xs);
  position: relative;
  text-decoration: none;

  .description,
  .meta,
  .title {
    margin-block-start: 0
  }

  .title {
    color: var(--text-colour-1);
    font-size: var(--text-size-2)
  }

  .description {
    color: var(--text-colour-2);
    font-size: var(--text-size-1);
    font-variation-settings: "wght" 300, "wdth" 75;
    line-height: 1.2
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: calc(-1 * var(--flow-space) + (var(--track-size) / 2));
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    width: var(--marker-size);
    height: var(--marker-size);
    background: var(--quaternary-3);
    border: 3px solid var(--surface-back);
    border-radius: calc(var(--marker-size) / 2);
  }

  &:hover .action {
    background: var(--primary-7);
    color: var(--primary-3)
  }
}


.post__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-3xs);
}

.post__action {
  align-self: flex-end;
}

article {
  display: grid;
  column-gap: var(--gutter);
  row-gap: var(--flow-space);
  grid-template-areas:
  "header"
  "toc"
  "prose"
  "aside";
  @media (width >= 820px) {
    grid-template-columns: 1fr minmax(275px, 325px);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header header"
      "prose  toc"
      "prose  aside";
  }
}

.main-header {
  grid-area: header;
}

details {
  grid-area: toc;
  padding-block-end: var(--flow-space);
  border-bottom: 1px solid var(--surface-mid);
}

summary .title,
header .title {
  font-size: var(--text-size-3) !important;
}

[aria-label=toc] {
  > ul {
    list-style: none;
    padding-inline-start: 0 !important;
  }
}

.prose {
  grid-area: prose;
  min-width: 0;
  &> :first-child {
    margin-block-start: 0;
  }
}

aside {
  grid-area: aside;
}

.aside__list {
  display: flex;
  flex-direction: column;
  gap: var(--flow-space);
  margin: 0;
  padding: var(--flow-space) 0 0 0;
  li:not(:last-child) .aside__item {
    border-bottom: 1px solid var(--surface-mid);
    padding-block-end: var(--flow-space);
  }
}

.aside__item {
  height: 100%;
  text-decoration: none;
  display: flex;
  gap: var(--space-xs);
  .title,
  .meta {
    margin-block-start: 0;
  }
  .title {
    color: var(--text-colour-1);
    font-size: var(--text-size-1);
  }

  &:hover .action {
    background: var(--primary-6);
    color: var(--primary-3);
  }
}

.aside__image {
  border-radius: var(--border-radius-s);
  max-width: 60px;
  flex-shrink: 0;
}

.aside__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-3xs);
  .badge {
    margin-top: auto;
  }
}

.aside__action {
  align-self: flex-end;
}

.label {
  --label-size: 32px;
  background: var(--quaternary-3);
  border-radius: var(--border-radius-s);
  color: var(--quaternary-7);
  display: inline-flex;
  align-items: center;
  padding: 0 calc(var(--label-size)/2) 0 var(--space-2xs);
  height: var(--label-size);
  white-space: nowrap;
  clip-path: polygon(0 0,calc(100% - var(--label-size)/2) 0,100% calc(var(--label-size)/2),100% calc(100% - var(--label-size)/2),calc(100% - var(--label-size)/2) 100%,0 100%);
  &.meta {
    color: var(--quaternary-7);
  }
}

.updated {
  font-variation-settings: "wght" 400;
  letter-spacing: -.015em;
}

.support-cta {
  container-type: inline-size;
  background: linear-gradient(var(--surface-fore), var(--surface-fore)) padding-box, linear-gradient(90deg, var(--primary-5), var(--secondary-5), var(--tertiary-5), var(--quaternary-5), var(--primary-5)) border-box;
  background-size: 300% 100%;
  border: var(--space-3xs) solid transparent;
  border-radius: var(--border-radius);
  padding: var(--flow-space);
  transform-origin: center top;
  will-change: transform;
  animation: gradient-shift 2s linear infinite alternate;
  display: grid;
  align-items: start;
  grid-template-columns: auto 1fr;
  gap: var(--flow-space);
  grid-template-areas:
    "img text"
    "img button";

  img {
    grid-area: img;
    width: var(--space-xl-2xl);
    aspect-ratio: 1;
    border-radius: var(--border-radius);
  }

  p {
    grid-area: text;
    margin-block-start: unset;
  }
  a {
    grid-area: button;
    justify-self: end;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.video__wrapper {
  position: relative;
  width: 100%;
}

.video__placeholder {
  width: 100%;
  height: auto;
  display: block;
}

.youtube__player  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  padding-inline: inherit;
}

.video__wrapper {
  &.playing {
    .youtube__player {
      opacity: 1;
      pointer-events: auto;
    }

    .video__placeholder {
      visibility: hidden;
    }

    .video__play {
      display: none;
    }
  }
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

