/**
 * SITE HEADER
 */

 .site-header {
  position: relative;
  height: 100%;
  max-width: var(--wrapper-max-width);
  padding: calc(var(--gutter) * 2 + var(--space-3xs)) var(--gutter) calc(var(--gutter) * 2) var(--gutter);
  display: grid;
  align-items: center;
  column-gap: var(--gutter);
  row-gap: 0;
  margin-block-end: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--space-3xs);
    width: 100%;
    background: linear-gradient(to right, var(--primary-5), var(--secondary-5), var(--tertiary-5), var(--quaternary-5));
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(var(--space-2xl-3xl) + var(--gutter)) ;
    aspect-ratio: 1/1;
    background: repeating-conic-gradient(var(--surface-back) 0% 25%, var(--surface-fore) 25% 50%);
    background-size: var(--space-s) var(--space-s);
    mask-image: radial-gradient(circle at bottom right, black, transparent 70%);
  }

  & > .visible {
    grid-column: 1 / -1;
    margin-top: var(--gutter);
  }

  @media (width <= 768px) {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "actions"
      "nav"
      "theme";
  }

  @media (width >= 768px) {
    & > .visible {
      grid-column: unset;
    }
    & > #main-nav {
      margin-top: 0;
    }
  }

  @media (768px <= width <= 1366px) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "actions nav"
      "theme theme";
  }

  @media screen and (width >= 1366px) {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: calc(var(--gutter) * 2) var(--gutter) var(--gutter) calc(var(--gutter) + var(--space-3xs));
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    row-gap: var(--gutter);
    grid-template-areas:
      "nav"
      "theme"
      "actions";

    &:after {
      width: var(--space-3xs);
      height: 100%;
      background: linear-gradient(to bottom, var(--primary-5), var(--secondary-5), var(--tertiary-5), var(--quaternary-5));
    }

    & > .visible {
      margin-top: 0;
    }
  }
}

.logo {
  position: absolute;
  right: var(--gutter);
  bottom: 0;
  width: var(--space-2xl-3xl);
  aspect-ratio: 1 / 1;
  height: auto;
  z-index: var(--fore);
}

.site-header__actions {
  grid-area: actions;
  display: flex;
  gap: var(--space-xs);
  z-index: var(--fore);

  @media (width >= 768px) {
    [data-target="main-nav"] {
      display: none;
    }
  }
}

#main-nav {
  grid-area: nav;

  @media (768px <= width <= 1366px) {
    display: flex;
  }

  @media screen and (width >= 1366px) {
    display: flex;
    align-self: start;
  }

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    margin: 0;
    padding: 0;
    z-index: var(--mid);

    @media (768px <= width <= 1366px) {
      flex-direction: row;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    font-size: var(--text-size--1);
    color: var(--text-colour-2);
    font-variation-settings: "wght" 700;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 9999px;
    padding: var(--space-2xs) var(--space-xs);
    @supports not (anchor-name: --test) {
      &.active,
      &:focus,
      &:focus {
        background: var(--surface-back);
        border-radius: 9999px;
        transition: background 0.25s;
      }
    }
    &.active {
      color: var(--text-colour-1);
    }
  }

  .nav-indicator {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: anchor(var(--active-anchor) left);
    top: anchor(var(--active-anchor) top);
    width: anchor-size(var(--active-anchor) width);
    height: anchor-size(var(--active-anchor) height);
    background: var(--surface-back);
    border-radius: 9999px;
    transition: all 0.25s;
    z-index: var(--back);
  }
}

:root[style*="--active-anchor"] #main-nav .nav-indicator {
  opacity: 1;
  pointer-events: auto;
}

#theme {
  grid-area: theme;
  position: relative;
  background: var(--surface-back);
  font-size: var(--text-size--1);
  border-radius: var(--border-radius);
  padding: var(--flow-space);
  z-index: var(--mid);

  button {
    position: absolute;
    top: var(--flow-space);
    right: var(--flow-space);
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    border: unset;
    padding: unset;
    @media (769px <= width <= 1366px) {
      flex-direction: row;
    }
  }

  legend {
    color: var(--text-colour-2);
    font-variation-settings: "wght" 700;
    letter-spacing: .025em;
    text-decoration: none;
    text-transform: uppercase;
    padding-inline: 0;
    padding-bottom: var(--space-s);
  }

  .slider,
  [role=radiogroup] {
    display: flex;
    gap: var(--space-2xs);
    align-items: center;
    @media (width >= 1366px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .slider {
    input {
      background: var(--surface-fore);
      padding: var(--space-2xs);
      border-radius: 999px;
      min-height: 42px;
    }
  }

  [role=radiogroup] {
    flex-wrap: wrap;

    label {
      background: var(--surface-fore);
      padding: var(--space-2xs);
      border-radius: 999px;
      cursor: pointer;
      &:has(input:focus){
        outline: 1.75px solid var(--primary-4);
        outline-offset: 2.25px;
      }

      svg {
        color: var(--primary-5);
        transition: color .15s ease-in-out;
      }
      &:is(:hover, :has(input:checked)) svg {
		    color: var(--primary-3);
	    }
    }
  }

  [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
}
