/**
 * SITE FOOTER
 */

.site-footer {
  max-width: var(--wrapper-max-width);
  padding: 0 var(--gutter) var(--gutter) var(--gutter);
  hr {
    margin-bottom: var(--gutter);
  }
}

.site-footer__inner {
  display: grid;
  grid-template-areas:
    "links"
    "social"
    "meta";
  gap: var(--flow-space);
  @media screen and (width >=769px) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "links social"
      "meta social";
    align-items: center;
  }
  .meta {
    grid-area: meta;
    margin-block-start: unset;
  }
}


.social-links {
  grid-area: social;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: var(--space-2xs);
  a {
    display: flex;
    color: var(--primary-3);
    transition: all 0.15s ease-in-out;
    &:hover {
      color: var(--primary-7);
    }
  }
}

.footer-links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: var(--space-s);
  a {
    font-variation-settings: "wght" 700;
  }
}
