/**
 * WEBMENTIONS
 */

 .webmentions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
  align-items: center;
  .title {
    color: var(--text-colour-2);
    font-size: var(--text-size--1);
    font-variation-settings: "wght" 700;
    letter-spacing: .025em;
    margin-block-start: 0;
  }
 }

 .webmentions__list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
 }

 .webmentions__item {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
 }

 .webmentions__icon {
  color: var(--primary-4);
 }
