@tailwind base;

@tailwind components;

@tailwind utilities;

.pswp__bg {
  background: #1e293b;
}

.carousel,
.carousel-slide {
  width: 240px;
  position: relative;
}

@media (min-width: 768px) { 
  .carousel,
  .carousel-slide {
    width: 320px;
  }
}

.flickity-page-dots {
  bottom: -32px;
}

.flickity-page-dots .dot {
  background: #1e293b;
}

html[data-theme='dark'] .flickity-page-dots .dot {
  background: #f8fafc;
}
