/* ==========================================================================
   Panels
   ========================================================================== */


.panel-black {
  background: palette(black);
  &-xxxlight {
    background: palette(black, xxxlight);
  }
  &-xxlight {
    background: palette(black, xxlight);
  }
  &-xlight {
    background: palette(black, xlight);
  }
  &-light {
    background: palette(black, light);
  }
}

.panel-aquamarine {
  background: palette(aquamarine);
  &-xxxlight {
    background: palette(aquamarine, xxxlight);
  }
  &-xxlight {
    background: palette(aquamarine, xxlight);
  }
  &-xlight {
    background: palette(aquamarine, xlight);
  }
  &-light {
    background: palette(aquamarine, light);
  }
}

.panel-scuba-blue {
  background: palette(scuba-blue);
  &-xxxlight {
    background: palette(scuba-blue, xxxlight);
  }
  &-xxlight {
    background: palette(scuba-blue, xxlight);
  }
  &-xlight {
    background: palette(scuba-blue, xlight);
  }
  &-light {
    background: palette(scuba-blue, light);
  }
}

.panel-lucite-green {
  background: palette(lucite-green);
  &-xxxlight {
    background: palette(lucite-green, xxxlight);
  }
  &-xxlight {
    background: palette(lucite-green, xxlight);
  }
  &-xlight {
    background: palette(lucite-green, xlight);
  }
  &-light {
    background: palette(lucite-green, light);
  }
}

.panel-classic-blue {
  background: palette(classic-blue);
  &-xxxlight {
    background: palette(classic-blue, xxxlight);
  }
  &-xxlight {
    background: palette(classic-blue, xxlight);
  }
  &-xlight {
    background: palette(classic-blue, xlight);
  }
  &-light {
    background: palette(classic-blue, light);
  }
}

.panel-toasted-almond {
  background: palette(toasted-almond);
  &-xxxlight {
    background: palette(toasted-almond, xxxlight);
  }
  &-xxlight {
    background: palette(toasted-almond, xxlight);
  }
  &-xlight {
    background: palette(toasted-almond, xlight);
  }
  &-light {
    background: palette(toasted-almond, light);
  }
}

.panel-strawberry-ice {
  background: palette(strawberry-ice);
  &-xxxlight {
    background: palette(strawberry-ice, xxxlight);
  }
  &-xxlight {
    background: palette(strawberry-ice, xxlight);
  }
  &-xlight {
    background: palette(strawberry-ice, xlight);
  }
  &-light {
    background: palette(strawberry-ice, light);
  }
}

.panel-tangerine {
  background: palette(tangerine);
  &-xxxlight {
    background: palette(tangerine, xxxlight);
  }
  &-xxlight {
    background: palette(tangerine, xxlight);
  }
  &-xlight {
    background: palette(tangerine, xlight);
  }
  &-light {
    background: palette(tangerine, light);
  }
}

.panel-custard {
  background: palette(custard);
  &-xxxlight {
    background: palette(custard, xxxlight);
  }
  &-xxlight {
    background: palette(custard, xxlight);
  }
  &-xlight {
    background: palette(custard, xlight);
  }
  &-light {
    background: palette(custard, light);
  }
}

.panel-marsala {
  background: palette(marsala);
  &-xxxlight {
    background: palette(marsala, xxxlight);
  }
  &-xxlight {
    background: palette(marsala, xxlight);
  }
  &-xlight {
    background: palette(marsala, xlight);
  }
  &-light {
    background: palette(marsala, light);
  }
}

.panel-glacier-gray {
  background: palette(glacier-gray);
  &-xxxlight {
    background: palette(glacier-gray, xxxlight);
  }
  &-xxlight {
    background: palette(glacier-gray, xxlight);
  }
  &-xlight {
    background: palette(glacier-gray, xlight);
  }
  &-light {
    background: palette(glacier-gray, light);
  }
}
