<footer class="site-footer">
  <hr>
  <div class="site-footer__inner">
    <ul role="list" class="footer-links">
      <li><a href="/resume.html"><small>Résumé</small></a></li>
      <li><a href="/colophon.html"><small>Colophon</small></a></li>
      <li><a href="/uses.html"><small>Uses</small></a></li>
    </ul>
    <ul role="list" class="social-links">
      <li>
        <a href="https://github.com/damianwalsh" rel="me" title="Github">
          <svg width="44" height="44" viewBox="0 0 48 48" class="icon-fill">
            <use xlink:href="#icon-github"></use>
          </svg>
          <span class="visually-hidden">Github</span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/damianw/" rel="me" title="LinkedIn">
          <svg width="44" height="44" viewBox="0 0 48 48" class="icon-fill">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
          <span class="visually-hidden">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://mastodon.social/@damianwalsh" rel="me" title="Mastodon">
          <svg width="44" height="44" viewBox="0 0 48 48" class="icon-fill">
            <use xlink:href="#icon-mastodon"></use>
          </svg>
          <span class="visually-hidden">Mastodon</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
