<a href="#main" class="visually-hidden">Skip to main content</a>

<header class="site-header surface">
  <img src="/img/avatar.webp" alt="{{ metadata.title }}" class="logo" width="132" height="132" eleventy:ignore>

  <div class="site-header__actions">
    <button class="toggle action" aria-expanded="false" aria-controls="theme" data-target="theme"
      aria-label="Theme settings">
      <svg width="36" height="36" viewBox="-8 -8 40 40" class="icon-stroke" aria-hidden="true">
        <use xlink:href="#icon-settings"></use>
      </svg>
      <span class="visually-hidden">Theme settings</span>
    </button>

    <button class="toggle action" aria-expanded="false" aria-controls="main-nav" data-target="main-nav" aria-label="Menu">
      <svg width="36" height="36" viewBox="-8 -8 40 40" class="icon-stroke" aria-hidden="true">
        <use xlink:href="#icon-menu"></use>
      </svg>
      <span class="visually-hidden">Menu</span>
    </button>
  </div>

  <nav id="main-nav" aria-label="main" class="hidden">
    {% set navIndex = 1 %}
    <ul role="list">
      {%- for entry in collections.all | eleventyNavigation %}
      {% if entry.key not in ["Résumé", "Tags", "Uses", "Colophon", "People"] %}
      <li>
        {% set entryUrlLength = entry.url | length %}
        {% set pageUrlStart = page.url | slice(0, entryUrlLength) %}
        <a href="{{ entry.url }}"
          style="anchor-name: --nav-{{ navIndex }};"
          {% if entry.url == page.url %}
            aria-current="page"
            class="active"
          {% elif entry.url != '/' and pageUrlStart == entry.url %}
            class="active"
          {% endif %}
        >
          {% if entry.icon %}
          <svg width="16" height="16" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
            <use xlink:href="#{{ entry.icon }}"></use>
          </svg>
          {% endif %}
          {{ entry.title }}
        </a>
      </li>
      {% set navIndex = navIndex + 1 %}
      {% endif %}
      {%- endfor %}
    </ul>
    <div class="nav-indicator"></div>
  </nav>

  <form id="theme" class="hidden">
    <fieldset>
      <legend>Theme settings</legend>
      <label for="hueSlider">
        Base Hue
        <input
          type="range"
          id="hueSlider"
          name="hue"
          min="0"
          max="360"
          value="180"
          aria-valuemin="0"
          aria-valuemax="360"
          aria-valuenow="180"
          aria-valuetext="180 degrees"
        >
        <output for="hueSlider" id="hueValue" class="hue-counter">180</output>
      </label>
      <div role="radiogroup" aria-labelledby="theme-selection">
        <label>
          <input type="radio" name="theme" value="auto" checked>
          Auto
        </label>
        <label>
          <input type="radio" name="theme" value="light">
          Light
        </label>
        <label>
          <input type="radio" name="theme" value="dark">
          Dark
        </label>
      </div>
    </fieldset>
  </form>
</header>
