<footer class="site-footer">
  <hr>
  <div class="site-footer__inner">
    <ul role="list" class="footer-links">
      <li><a href="/resume"><small>Résumé</small></a></li>
      <li><a href="/colophon"><small>Colophon</small></a></li>
      <li><a href="/uses"><small>Uses</small></a></li>
    </ul>
    <ul role="list" class="social-links">
      <li>
        <a href="https://github.com/damianwalsh" rel="me" title="Github">
          <svg width="44" height="44" viewBox="0 0 24 24" class="icon-fill">
            <use xlink:href="#icon-github"></use>
          </svg>
          <span class="visually-hidden">Github</span>
        </a>
      </li>
      <li>
        <a href="https://mastodon.social/@damianwalsh" rel="me" title="Mastodon">
          <svg width="44" height="44" viewBox="0 0 24 24" class="icon-fill">
            <use xlink:href="#icon-mastodon"></use>
          </svg>
          <span class="visually-hidden">Mastodon</span>
        </a>
      </li>
       <li>
        <a href="/feed.xml" title="RSS">
          <svg width="44" height="44" viewBox="0 0 24 24" class="icon-fill">
            <use xlink:href="#icon-rss"></use>
          </svg>
          <span class="visually-hidden">RSS</span>
        </a>
      </li>
    </ul>
    <p class="meta">Design. Code. Love. Made in Manchester, England.</p>
  </div>
</footer>
