{% set currentUrl = metadata.url + page.url %}
{% set pageWebmentions = webmentions[currentUrl] %}
{% set likes = (pageWebmentions | filterByProperty("wm-property", "like-of") | length) %}
{% set reposts = (pageWebmentions | filterByProperty("wm-property", "repost-of") | length) %}
{% set replies = (pageWebmentions | filterByProperty("wm-property", "in-reply-to") | length) %}

{% if likes > 0 or reposts > 0 or replies > 0 %}
  <section class="webmentions meta">
    <h2 class="title">Webmentions</h2>
    <ul class="webmentions__list" role="list">
      {% if likes > 0 %}
        <li class="webmentions__item">
          <svg width="18" height="18" viewBox="0 0 24 24" class="webmentions__icon icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg>
          <span class="visually-hidden">{{ likes }} Like{% if likes != 1 %}s{% endif %}</span>
          <span aria-hidden="true">{{ likes }}</span>
        </li>
      {% endif %}
      {% if reposts > 0 %}
        <li class="webmentions__item">
          <svg width="18" height="18" viewBox="0 0 24 24" class="webmentions__icon icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-repost"></use>
          </svg>
          <span class="visually-hidden">{{ reposts }} Repost{% if reposts != 1 %}s{% endif %}</span>
          <span aria-hidden="true">{{ reposts }}</span>
        </li>
      {% endif %}
      {% if replies > 0 %}
        <li class="webmentions__item">
          <svg width="18" height="18" viewBox="0 0 24 24" class="webmentions__icon icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-reply"></use>
          </svg>
          <span class="visually-hidden">{{ replies }} Repl{% if replies == 1 %}y{% else %}ies{% endif %}</span>
          <span aria-hidden="true">{{ replies }}</span>
        </li>
      {% endif %}
    </ul>
  </section>
{% endif %}
