---
eleventyNavigation:
  key: "{{ release.title }}"
  parent: Releases
eleventyComputed:
  title: "{{ release.title }} - {{ release.artist }} | Music"
pagination:
  data: collections.releases
  size: 1
  alias: release
permalink: "/music/releases/{{ release.title | slugify }}-{{ release.artist | slugify }}-{{ release.format | slugify }}/"
---
{% css %}
{% include "public/css/music.css" %}
{% include "public/css/memories.css" %}
{% endcss %}

<header class="main-header">
  {% include "partials/breadcrumb.njk" %}
  <h1>{{ release.title }}</h1>
</header>
<div class="surface detail">
  <img
    loading="eager"
    src="../img/{{ release.title | slugify }}-{{ release.artist | slugify }}.jpg"
    sizes="(min-width: 1720px) 403px, (min-width: 1380px) calc(26.56vw - 49px), (min-width: 780px) calc(30.69vw - 15px), (min-width: 400px) 83.61vw, calc(26.25vw + 220px)"
    alt="{{ release.title }}"
    class="detail__image">

  <dl class="detail__meta">
    <dt>Artist</dt>
    <dd><a href="/music/artists/{{ release.artist | slugify }}">{{ release.artist }}</a></dd>
    {% if release.released or release.first_released %}
    <dt>Release date</dt>
    <dd>
    {% if release.released %}
    {% if release.first_released and release.first_released !== release.released %}
    {{ release.released | readableDate }} (first released: <a href="/music/years/{{ release.first_released | extractYear }}">{{ release.first_released | readableDate }}</a>)
    {% else %}
    <a href="/music/years/{{ release.released | extractYear }}">{{ release.released | readableDate }}</a>
    {% endif %}
    {% else %}
    <a href="/music/years/{{ release.first_released | extractYear }}">{{ release.first_released | readableDate }}</a>
    {% endif %}
    </dd>
    {% endif %}
    <dt>Format</dt>
    <dd>
      <a href="/music/formats/{{ release.format | slugify }}">{{ release.format }}</a>
      {% for format in release.formats %}
      {% if format.name == release.format %}
      ({{ format.descriptions | join(", ") }})
      {% endif %}
      {% endfor %}
    </dd>
    {% if release.genres %}
    <dt>Genres</dt>
    <dd>{% for genre in release.genres %}
      <a href="/music/genres/{{ genre | slugify }}">{{ genre }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </dd>
    {% endif %}
  </dl>
  <div class="detail__footer">
    {% if release.favourite %}
    <div class="badge"><svg width="14" height="14" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
      <use xlink:href="#icon-heart"></use>
    </svg> Favourite</div>
    {% endif %}
    <a href="{{ release.uri }}"><small>View on Discogs</small></a>
  </div>
</div>

{% if release.tracklist %}
<section class="surface">
  <header>
    <h2 class="title">Tracklist</h2>
  </header>
  <ol role="list" class="tracklist">
    {% for track in release.tracklist %}
    <li class="tracklist__item">
      <span class="tracklist__title">{{ track.title }}</span>
      <div class="tracklist__meta">
        <div class="icons">
          {% if release.favourite_tracks and (loop.index in release.favourite_tracks) %}
          <svg width="36" height="36" viewBox="-6 -6 36 36" class="icon-stroke action--small" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg>
          <span class="visually-hidden">Favourite track</span>
          {% endif %}
          {% set trackVideo = release.videos | findVideoByTrack(track.title) %}
          {% if trackVideo %}
          <a href="{{ trackVideo.url }}">
            <svg width="24" height="24" viewBox="-8 -6 36 36" class="action--small icon-stroke" aria-hidden="true">
              <use xlink:href="#icon-play"></use>
            </svg>
            <span class="visually-hidden">Watch video</span>
          </a>
          {% endif %}
        </div>
        {% if track.duration %}
        <span class="tracklist__duration">({{ track.duration }})</span>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ol>
</section>
{% endif %}

{% if release.chapters %}
<section class="surface">
  <header>
    <h2 class="title">Memories</h2>
  </header>
  <div class="">
    {% set allPeopleIds = [] %}
    {% set allPlaceIds = [] %}
    {% for chapterId, chapterMemories in release.chapters %}
      {% for personId in chapterMemories.people %}
        {% if not allPeopleIds.includes(personId) %}
          {% set allPeopleIds = (allPeopleIds.push(personId), allPeopleIds) %}
        {% endif %}
      {% endfor %}
      {% for placeId in chapterMemories.places %}
        {% if not allPlaceIds.includes(placeId) %}
          {% set allPlaceIds = (allPlaceIds.push(placeId), allPlaceIds) %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% if allPeopleIds.length %}
    <div class="people">
      <h3 class="meta">People</h3>
      <ul class="nav-pills" role="list">
        {% for personId in allPeopleIds %}
        {% set person = collections.peopleCollection | getById(personId) %}
        {% if person %}
        <li>
          <a href="/music/people/{{ person.name | slugify }}" title="{{ person.relationship }}">{{ person.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% set allEventIds = [] %}
    {% for chapterId, chapterMemories in release.chapters %}
      {% for eventId in chapterMemories.events %}
        {% if not allEventIds.includes(eventId) %}
          {% set allEventIds = (allEventIds.push(eventId), allEventIds) %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% set allLocationIds = (allPlaceIds or []).concat(allEventIds or []) %}
    {% set locationsData = [] %}
    {% for locationId in allLocationIds %}
      {% set place = collections.placesCollection | getById(locationId) %}
      {% if place %}
        {% set locationsData = (locationsData.push(place), locationsData) %}
      {% else %}
        {% set event = collections.eventsCollection | getById(locationId) %}
        {% if event %}
          {% set locationsData = (locationsData.push(event), locationsData) %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% set sortedLocations = locationsData | dedupeByCoords | sort(false, false, 'location') %}

    {% if sortedLocations.length %}
    <div class="places">
      <h3 class="meta">Places</h3>

      <ul ul class="nav-pills" role="list">
        {% for loc in sortedLocations %}
          <li>
            <a href="https://www.openstreetmap.org/?mlat={{ loc.coordinates.lat }}&mlon={{ loc.coordinates.lng }}&zoom=15"
              rel="noopener">
              <svg width="18" height="24" viewBox="0 0 24 24" class="places__icon icon-stroke" aria-hidden="true">
                <use xlink:href="#icon-map-pin"></use>
              </svg>
              <strong>
                {{ loc.location }}{% if loc.night %} ({{ loc.night }}){% endif %}
              </strong>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="chapters">
      <h3 class="meta">Chapters</h3>
      <ul class="nav-pills" role="list">
        {% set chapterItems = [] %}
        {% for chapterId, chapterMemories in release.chapters %}
          {% set _ = chapterItems.push({ id: chapterId, startYear: chapterId.split('-')[0] | int }) %}
        {% endfor %}

        {% set sortedChapters = chapterItems | sort(false, false, 'startYear') %}

        {% for chapter in sortedChapters %}
          <li>
            <a href="/music/chapters/{{ chapter.id }}">{{ chapter.id }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% memoryMap sortedLocations %}
  </div>
</section>
{% endif %}

{% set otherReleases = collections.releases | otherItemsByCreator(release, "artist", "title") %}
{% if otherReleases.length > 0 %}
<section>
  <header>
    <h2 class="title">Other releases by <a href="/music/artists/{{ release.artist | slugify }}">{{
        release.artist }}</a> in the collection</h2>
  </header>
  <ul role="list" class="collection__grid">
    {% for otherRelease in otherReleases %}
    <li>
      <a href="/music/releases/{{ otherRelease.title | slugify }}-{{ otherRelease.artist | slugify }}-{{ otherRelease.format | slugify }}"
        class="collection__item surface">
        <img
          src="../img/{{ otherRelease.title | slugify }}-{{ otherRelease.artist | slugify }}.jpg"
          sizes="(min-width: 1740px) 280px, (min-width: 1460px) 16.92vw, (min-width: 1380px) calc(33.33vw - 157px), (min-width: 1180px) calc(22.78vw - 30px), (min-width: 880px) calc(30.36vw - 26px), (min-width: 780px) calc(46.25vw - 27px), (min-width: 580px) calc(11.67vw - 15px), (min-width: 400px) calc(23.13vw - 12px), calc(7.5vw + 48px)"
          alt="{{ otherRelease.title }}"
          class="collection__image">
        <div class="collection__details">
          <h3 class="title">{{ otherRelease.title }}</h3>
          <p class="meta">{{ otherRelease.format }}</p>
          {% if otherRelease.favourite %}
          <div class="badge"><svg width="14" height="14" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg> Favourite</div>
          {% endif %}
        </div>
        <svg width="36" height="36" viewBox="-6 -6 36 36" class="collection__action action icon-stroke"
          aria-hidden="true">
          <use xlink:href="#icon-chevron-right"></use>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<nav aria-label="pagination">
  {% if pagination.href.previous %}
  {% set previousRelease = collections.releases[pagination.pageNumber - 1] %}
  <a
    href="{{ pagination.href.previous }}" class="icon-link prev">
    <svg width="36" height="36" viewBox="-6 -6 36 36" class="action icon-stroke" aria-hidden="true">
        <use xlink:href="#icon-chevron-left"></use>
      </svg><span class="visually-hidden">Previous:</span> {{ previousRelease.title }} by {{ previousRelease.artist }}
  </a>
  {% endif %}
  {% if pagination.href.next %}
  {% set nextRelease = collections.releases[pagination.pageNumber + 1] %}
  <a
    href="{{ pagination.href.next }}"
    class="icon-link next">
    <span class="visually-hidden">Next:</span> {{ nextRelease.title }} by {{ nextRelease.artist }} <svg width="36" height="36" viewBox="-6 -6 36 36" class="action icon-stroke" aria-hidden="true">
    <use xlink:href="#icon-chevron-right"></use>
  </svg>
  </a>
  {% endif %}
</nav>
