---
tags: post
brand: Booking.com
title: Peace of Mind
cover: /images/booking-com-icon.svg
---

<section class="pt-14 md:pt-16 xl:px-24">
  <h2 class="text-2xl font-light pb-14 text-slate-800 dark:text-slate-50 md:text-3xl md:pb-16 lg:text-4xl">Providing customers and partners with clear and simple insurance that removes anxiety.</h2>
  <h2 class="text-2xl font-semibold pb-2 text-slate-800 lg:text-3xl dark:text-slate-50">Overview</h2>
  <p>Insurance can be a source of friction, especially for customers unfamiliar with car rental. A range of products are available, each with its own benefits and terms depending on circumstances. Business reporting highlighted differences in the attach rate of cover products and customer satisfaction across country markets, indicating this was an issue worth investigating further.</p>
</section>
<section class="pt-14 md:pt-16 xl:px-24">
  <h2 class="text-2xl font-semibold pb-2 text-slate-800 lg:text-3xl dark:text-slate-50">Aims</h2>
  <p class="pb-6">Years of incremental changes had resulted in a fragmented customer experience which was difficult to manage at scale. Re-platforming efforts taking place across the business offered an opportunity to reconsider the insurance product offering and experience with the following anticipated benefits:</p>
  <div class="gap-4 grid md:grid-cols-2">
    <div class="p-4 bg-slate-100 rounded dark:bg-slate-800">
      <strong class="pb-2 block text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">For customers</strong>
      <ul role="list" class="marker:text-violet-500 list-disc list-inside space-y-1 text-sm lg:text-base dark:marker:text-violet-300">
        <li>Options to suit a wider range of needs</li>
        <li>Greater clarity and transparency of information</li>
        <li>Improved experience on mobile and desktop</li>
      </ul>
    </div>
    <div class="p-4 bg-slate-100 rounded dark:bg-slate-800">
      <strong class="pb-2 block text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">For the business</strong>
      <ul role="list" class="marker:text-violet-500 list-disc list-inside space-y-1 text-sm lg:text-base dark:marker:text-violet-300">
        <li>Increased customer satisfaction and loyalty</li>
        <li>Lower contact and cancellation rate</li>
        <li>Component-driven model reduces time to market</li>
      </ul>
    </div>
  </div>
</section>
<section class="pt-14 md:pt-16 xl:px-24">
  <h2 class="text-2xl font-semibold pb-2 text-slate-800 lg:text-3xl dark:text-slate-50">Users and audience</h2>
  <p>Rental cars almost always come with basic insurance included but this is subject to an excess charge, which means customers pay a contribution towards any repair or theft costs. Booking.com customers are offered the option of adding excess cover when booking a rental car through group and partner websites and apps in 160 countries and 40 languages.</p>
</section>
<section class="pt-14 md:pt-16 xl:px-24">
  <h2 class="text-2xl font-semibold pb-2 text-slate-800 lg:text-3xl dark:text-slate-50">Roles and responsibilities</h2>
  <p>At Booking.com the product organisation is divided into groups of cross-functional teams. As a Lead Designer, I was responsible for design across the Peace of Mind product group between 2018 - 2020. My role involved influencing, communicating and delivering design efforts aligned with the group's mission. </p>
</section>
<section class="pt-14 md:pt-16 xl:px-24">
  <h2 class="text-2xl font-semibold pb-2 text-slate-800 lg:text-3xl dark:text-slate-50">Scope and constraints</h2>
  <p class="pb-6">For the initial release, our team was committed to delivering a re-platformed product detail page for mobile and desktop across European and North American markets, including all associated functionality, which could be configured for group and partner brands.</p>
  <figure id="insurance-before" class="md:w-3/4 mx-auto">
    <a href="{{ '/images/desktop-driver-extras-xl.webp' | url }}" data-pswp-width="1907" data-pswp-height="2227" target="_blank">
      <img srcset="{{ '/images/desktop-driver-extras-xs.webp' | url }} 320w, 
                   {{ '/images/desktop-driver-extras-sm.webp' | url }} 640w,
                   {{ '/images/desktop-driver-extras-md.webp' | url }} 960w,
                   {{ '/images/desktop-driver-extras-lg.webp' | url }} 1280w" 
                   sizes="(min-width: 1040px) 659px, 
                          (min-width: 780px) 528px, 
                          (min-width: 640px) 576px, 
                          calc(100vw - 32px)"
           src="{{ '/images/desktop-driver-extras-md.webp' | url }}" alt="" class="mb-4 w-full" loading="lazy">
    </a>
    <figcaption class="text-center text-sm lg:text-base">Product detail page before re-platforming</figcaption>
  </figure>
</section>
<section class="pt-14 md:pt-16 xl:px-24">
  <h2 class="text-2xl font-semibold pb-2 text-slate-800 lg:text-3xl dark:text-slate-50">Process</h2>
  <p class="pb-6">When I joined the team there was an emphasis on design building a backlog of experiments targeted at increasing booking conversion and attach rate of cover products. The team had learned from experience that it was more likely to hit quarterly commercial targets by placing small bets. Conversely, spending time developing large bets involved more risk of failing to meet targets. The first challenge was building a better understanding of the reasons why cover products were performing differently across country markets while maintaining experiment velocity.</p>
  <h3 class="text-xl font-semibold pb-2 text-slate-800 lg:text-2xl dark:text-slate-50">Understanding customer sentiment and behaviour</h3>
  <p class="pb-6">My first move was to conduct an audit of available research tools. This helped steer conversation around methods and a mix of approaches was agreed upon to develop knowledge of differences in the market landscape and customer attitudes towards cover products. I later revisited the audit findings and developed a selection tool to help other teams more easily identify ways and means of conducting their own user research.</p>
  <h4 class="text-lg font-semibold pb-2 text-slate-800 lg:text-xl dark:text-slate-50">Intercept surveys</h4>
  <p class="pb-6">We then began a series of surveys to gather 'in the moment' feedback from customers. To identify potential opportunities and barriers for the current product we asked customers who made bookings without additional cover: why they didn't choose our product, what type of policy (if any) they chose instead, why they selected alternative cover and where they purchased it from. To understand the scale of opportunity for providing other types of insurance we also ran a separate survey asking customers if they would consider buying various types of additional cover from us and, if yes, how much they would be willing to pay.</p>
  <p class="pb-6">I designed and published the surveys with Usabilla (now part of the GetFeedback platform), which was integrated as a trial on the website. Following A/B experiment convention surveys ran for a minimum of two weeks to rule out seasonality effects and until the completion rate exceeded the target sample size. Analysing the data using Google Sheets enabled me to easily spot points of interest in the quantitative data and drill down to customers comments for context. The translate formula is particularly helpful for analysing free text responses across languages. Findings were presented/discussed with stakeholders in a variety of forums, prompting further research and design activities and helping to establish links between business objectives and validated user needs.</p>
  <figure class="pb-6" id="intercept-surveys">
    <div class="grid gap-2 md:w-3/4 md:mx-auto mb-4">   
      <a href="{{ '/images/full-insurance-survey-flow.svg' | url }}" data-pswp-width="896" data-pswp-height="626" target="_blank">
        <img src="{{ '/images/full-insurance-survey-flow.svg' | url }}" alt="Bookings without additional cover" loading="lazy">
      </a>
      <a href="{{ '/images/travel-insurance-survey-flow.svg' | url }}" data-pswp-width="896" data-pswp-height="626" target="_blank">
        <img src="{{ '/images/travel-insurance-survey-flow.svg' | url }}" alt="Intent to purchase travel insurance" loading="lazy">
      </a>
      <a href="{{ '/images/why-customers-didnt-add-cover.svg' | url }}" data-pswp-width="896" data-pswp-height="439" target="_blank">
        <img src="{{ '/images/why-customers-didnt-add-cover.svg' | url }}" alt="Why customers didn't add cover" loading="lazy">
      </a>
      <a href="{{ '/images/type-of-cover-customers-already-have.svg' | url }}" data-pswp-width="896" data-pswp-height="439" target="_blank">
        <img src="{{ '/images/type-of-cover-customers-already-have.svg' | url }}" alt="Type of cover customers already have">
      </a>
      <a href="{{ '/images/what-customers-didnt-understand.svg' | url }}" data-pswp-width="896" data-pswp-height="439" target="_blank">
        <img src="{{ '/images/what-customers-didnt-understand.svg' | url }}" alt="What customers didn't understand" loading="lazy">
      </a>
      <a href="{{ '/images/observations-and-opportunities.svg' | url }}" data-pswp-width="896" data-pswp-height="1046" target="_blank">
        <img src="{{ '/images/observations-and-opportunities.svg' | url }}" alt="Observations and opportunities" loading="lazy">
      </a>
    </div>
    <figcaption class="text-center text-sm lg:text-base">Survey questions, findings and opportunities</figcaption>
  </figure>
  <p class="pb-6">Gathering website feedback proved to be a cost and time-efficient way for the team to engage directly with customers at scale, enabling us to identify opportunities for design exploration across the spectrum from tactical quick wins through to influencing product strategy. Conducting this series of surveys, the largest of its type conducted by the business to date, also triggered increased engagement with Usabilla across the organisation enabling me to successfully make a case for extending the software license.</p>
  <h4 class="text-lg font-semibold pb-2 text-slate-800 lg:text-xl dark:text-slate-50">Journey analytics</h4>
  <p class="pb-6">It can be tempting for teams focused on conversion to move on to new ideas without evaluating unsuccessful experiments. Alongside gathering customer feedback, we wanted to learn how previous experiments affected user behaviour through the booking funnel. Our belief was that this would help us make better, more informed decisions going forward. Performing the research tooling audit enabled me to identify the opportunity to engage Clicktale (now part of the ContentSquare platform) to analyse a selection of previous experiments using consulting time built into our contract. I created a brief and liaised between our analysts and Clicktale to ensure they had the information required to conduct their analysis. Findings highlighted several potential quick win user experience improvements which were taken forward as part of efforts to optimise the mobile experience.</p>
  <h3 class="text-xl font-semibold pb-2 text-slate-800 lg:text-2xl dark:text-slate-50">Co-designing solutions</h3>
  <p class="pb-6">Cover products are just one part of customers end-to-end experience, therefore, it was important to seek involvement and feedback from other designers, product teams and wider organisational departments (e.g. Compliance) through the design process. Widening participation enabled us to share our knowledge and benefit from a broad range of perspectives on how we might help customers find their best choice.</p>
  <figure class="pb-6">
    <div class="grid grid-rows-2 grid-cols-2 grid-flow-col gap-2 mb-4">      
      <img srcset="{{ '/images/crazy-8s-xs.webp' | url }} 320w, 
                     {{ '/images/crazy-8s-sm.webp' | url }} 640w,
                     {{ '/images/crazy-8s-md.webp' | url }} 960w,
                     {{ '/images/crazy-8s-lg.webp' | url }} 1280w" 
            sizes="(min-width: 1040px) 436px, (min-width: 780px) 348px, (min-width: 640px) 284px, calc(50vw - 20px)"
            src="{{ '/images/crazy-8s-md.webp' | url }}" alt="Crazy 8's" class="row-span-1 col-span-1 w-full" loading="lazy">

      <img srcset="{{ '/images/rose-bud-thorn-xs.webp' | url }} 320w, 
                     {{ '/images/rose-bud-thorn-sm.webp' | url }} 640w,
                     {{ '/images/rose-bud-thorn-md.webp' | url }} 960w,
                     {{ '/images/rose-bud-thorn-lg.webp' | url }} 1280w" 
            sizes="(min-width: 1040px) 436px, (min-width: 780px) 348px, (min-width: 640px) 284px, calc(50vw - 20px)"
            src="{{ '/images/rose-bud-thorn-md.webp' | url }}" alt="Rose, Bud, Thorn" class="row-span-1 col-span-1 w-full" loading="lazy">

      <img srcset="{{ '/images/decision-matrix-xs.webp' | url }} 320w, 
                     {{ '/images/decision-matrix-sm.webp' | url }} 640w,
                     {{ '/images/decision-matrix-md.webp' | url }} 960w,
                     {{ '/images/decision-matrix-lg.webp' | url }} 1280w" 
            sizes="(min-width: 1040px) 436px, (min-width: 780px) 348px, (min-width: 640px) 284px, calc(50vw - 20px)"
            src="{{ '/images/decision-matrix-md.webp' | url }}" alt="Decision Matrix" class="row-span-2 col-span-1 h-full" loading="lazy">
    </div>
    <figcaption class="text-center text-sm lg:text-base">Team members participating in co-design activities</figcaption>
  </figure>
  <h4 class="text-lg font-semibold pb-2 text-slate-800 lg:text-xl dark:text-slate-50">Design sprints</h4>
  <p class="pb-6">Sprint-type workshops were already established across the business. I organised a number of one-day mini design sprints and shared knowledge of business objectives and observations gained from research. The assembled groups then worked through typical co-design activities to frame problems and explore solutions to identified needs.</p>
  <h4 class="text-lg font-semibold pb-2 text-slate-800 lg:text-xl dark:text-slate-50">Design critiques</h4>
  <p class="pb-6">Critiques were less familiar outside the design team but had begun to gain popularity as a way of gathering input from stakeholders who would not usually participate in workshops. I established regular check-ins with stakeholders as we began to refine ideas generated in the design sprints and introduced the Rose, Bud, Thorn technique to encourage balanced constructive feedback.</p>
  <h3 class="text-xl font-semibold pb-2 text-slate-800 lg:text-2xl dark:text-slate-50">Developing hypotheses</h3>
  <p class="pb-6">The next step involved taking the themes developed from research and co-design activities and distilling them into testable hypotheses. Booking.com are well known for A/B testing proposed changes to the customer experience. Prior to this, we wanted to de-risk our proposals as far as possible to ensure the best chance of success. The challenge was crafting solutions which balanced team objectives alongside compliance requirements.</p> 
  <p class="pb-6">By this point, a researcher had joined the team and we worked together with a writer to iteratively improve ideas. I focused on producing prototypes and the researcher conducted remote user testing to evaluate comprehension and usability, identifying issues addressed prior to A/B testing. Alongside general improvements to user experience, we developed three distinct options addressing our aims of providing options to suit a wider range of needs and greater clarity and transparency of information.</p>
  <figure class="grid gap-6 pb-6" id="design-concepts" role="group">
    <figure>
      <a href="{{ '/images/product-cards-xl.webp' | url }}" data-pswp-width="1920" data-pswp-height="1440" target="_blank">
        <img srcset="{{ '/images/product-cards-xs.webp' | url }} 320w, 
                     {{ '/images/product-cards-sm.webp' | url }} 640w,
                     {{ '/images/product-cards-md.webp' | url }} 960w,
                     {{ '/images/product-cards-lg.webp' | url }} 1280w" 
             sizes="(min-width: 1040px) 879px, 
                    (min-width: 780px) 704px, 
                    (min-width: 640px) 576px, 
                    calc(100vw - 32px)"
             src="{{ '/images/product-cards-md.webp' | url }}" alt="" class="w-full mb-4" loading="lazy">
      </a>
      <figcaption class="flex gap-2 before:content-['➀'] before:text-violet-500 dark:before:text-violet-300">
        <div>
          <strong class="text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">Product cards</strong>
          <p class="text-sm lg:text-base">Featuring a cover product value ladder, the copy-driven approach performed well in usability and comprehension testing with customers able to articulate the benefits and differences between existing and new products. However, increasing the cognitive load on users by offering more information upfront and options to choose from was acknowledged as a risk.</p>
        </div>
      </figcaption>
    </figure>
    <figure>
      <a href="{{ '/images/comparison-table-xl.webp' | url }}" data-pswp-width="1920" data-pswp-height="1440" target="_blank">
        <img srcset="{{ '/images/comparison-table-xs.webp' | url }} 320w, 
                     {{ '/images/comparison-table-sm.webp' | url }} 640w,
                     {{ '/images/comparison-table-md.webp' | url }} 960w,
                     {{ '/images/comparison-table-lg.webp' | url }} 1280w" 
             sizes="(min-width: 1040px) 879px, 
                    (min-width: 780px) 704px, 
                    (min-width: 640px) 576px, 
                    calc(100vw - 32px)"
             src="{{ '/images/comparison-table-md.webp' | url }}" alt="" class="w-full mb-4" loading="lazy">
      </a>
      <figcaption class="flex gap-2 before:content-['➁'] before:text-violet-500 dark:before:text-violet-300">
        <div>
          <strong class="text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">Comparison table</strong>
          <p class="text-sm lg:text-base">A feature comparison table design was lobbied for by some key stakeholders. The team were less keen on this approach due to it being impractical when products did not lend themselves to cross-comparison and awkward presentation on mobile devices.</p>
        </div>
      </figcaption>
    </figure>
    <figure>
      <a href="{{ '/images/binary-choice-xl.webp' | url }}" data-pswp-width="1920" data-pswp-height="1440" target="_blank">
        <img srcset="{{ '/images/binary-choice-xs.webp' | url }} 320w, 
                     {{ '/images/binary-choice-sm.webp' | url }} 640w,
                     {{ '/images/binary-choice-md.webp' | url }} 960w,
                     {{ '/images/binary-choice-lg.webp' | url }} 1280w" 
             sizes="(min-width: 1040px) 879px, 
                    (min-width: 780px) 704px, 
                    (min-width: 640px) 576px, 
                    calc(100vw - 32px)"
             src="{{ '/images/binary-choice-md.webp' | url }}" alt="" class="w-full mb-4" loading="lazy">
      </a>
      <figcaption class="flex gap-2 before:content-['➂'] before:text-violet-500 dark:before:text-violet-300">
        <div>
          <strong class="text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">Binary choice</strong>
          <p class="text-sm lg:text-base">Offering an unambiguous yes or no choice addressed concerns around a contentious pattern in the existing website user interface and countered the potential paradox of choice issues presented by multiple-choice options.</p>
        </div>
      </figcaption>
    </figure>
  </figure>

  <h3 class="text-xl font-semibold pb-2 text-slate-800 lg:text-2xl dark:text-slate-50">Design handover</h3>
  <p class="pb-6">We now had a raft of options which could be developed and tested with real customers at scale in production. To meet milestones for re-platforming efforts the team agreed on a selection of changes it felt would deliver the most impact and could be delivered in the time available.</p>
  <figure id="insurance-after" class="pb-6">
    <a href="{{ '/images/mobile-user-flow.webp' | url }}" data-pswp-width="6914" data-pswp-height="6502" target="_blank">
      <img srcset="{{ '/images/mobile-user-flow-xs.webp' | url }} 320w, 
                    {{ '/images/mobile-user-flow-sm.webp' | url }} 640w,
                    {{ '/images/mobile-user-flow-md.webp' | url }} 960w,
                    {{ '/images/mobile-user-flow-lg.webp' | url }} 1280w" 
            sizes="(min-width: 1040px) 879px, 
                  (min-width: 780px) 704px, 
                  (min-width: 640px) 576px, 
                  calc(100vw - 32px)"
            src="{{ '/images/mobile-user-flow-md.webp' | url }}" alt="" class="w-full mb-4" loading="lazy">
    </a>
    <figcaption class="text-center text-sm lg:text-base">Re-platformed mobile user flow</figcaption>
  </figure>
  <p class="pb-6">As components for the re-platformed experience were built using the new technology my focus shifted to supporting development by creating design specs and collaborating with engineering colleagues to bridge gaps between the design system and code documentation. I also developed a team website using Google Sites creating a centralised 'single source of truth' reference for research, copy and design documentation to effectively share knowledge across the wide group of stakeholders involved.</p>
  <div class="flex justify-center">
    <div class="carousel" id="insurance-carousel" data-flickity='{ "wrapAround": true, "prevNextButtons": false }'>
      <div class="carousel-slide text-center">
        <img src="{{ '/images/car-info.avifs' | url }}" class="border border-slate-200 mb-4 dark:border-none" alt=""> 
        <strong class="text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">Car information</strong>
      </div>
      <div class="carousel-slide text-center"> 
        <img src="{{ '/images/adding-extras.avifs' | url }}" class="border border-slate-200 mb-4 dark:border-none" alt="">
        <strong class="text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">Adding extras</strong>
      </div>
      <div class="carousel-slide text-center">
        <img src="{{ '/images/choose-package.avifs' | url }}" class="border border-slate-200 mb-4 dark:border-none" alt="">
        <strong class="text-center text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">Choosing a package</strong>
      </div>
      <div class="carousel-slide text-center">
        <img src="{{ '/images/insurance-reminder.avifs' | url }}" class="border border-slate-200 mb-4 dark:border-none" alt="">
        <strong class="text-xs uppercase font-semibold tracking-wide text-violet-500 dark:text-violet-300 md:text-sm lg:text-base">Insurance reminder</strong>
      </div>
    </div>
  </div>
</section>
<section class="pt-14 md:pt-16 xl:px-24">
  <h2 class="text-2xl font-semibold pb-2 text-slate-800 lg:text-3xl dark:text-slate-50">Outcome</h2>
  <p class="pb-6">The updated product detail page was released on schedule, enabling the business to launch an improved end-to-end experience built on new technology, and the Peace of Mind group to test a new presentation offering customers more choices and clearer information. Additionally, design input resulted in the following positive outcomes:</p>
  <ul role="list" class="gap-4 grid md:grid-cols-2">
    <li class="before:content-[''] flex before:mr-2 before:text-violet-500 dark:before:text-violet-300">Customer insights captured and translated into user needs aligning with business goals.</li>
    <li class="before:content-[''] flex before:mr-2 before:text-violet-500 dark:before:text-violet-300">Successfully made a case to extend licensing agreement of research tooling.</li>
    <li class="before:content-[''] flex before:mr-2 before:text-violet-500 dark:before:text-violet-300">Documentation was created reducing compliance risk and time to onboard contributors.</li>
    <li class="before:content-[''] flex before:mr-2 before:text-violet-500 dark:before:text-violet-300">Increased consistency and reuse of components across the customer journey.</li>
  </ul>
  <p class="pt-6">In terms of personal lessons, this project stretched me beyond my comfort zone, highlighting some areas for development. With many interested parties involved my natural preference to create space to work through all the angles before making recommendations didn't meet some stakeholders expectations. It was uncomfortable at times, but I'm glad for the opportunity this engagement offered to reflect on my approach and adapt ways of working to suit the needs of different audiences.</p>
</section>


