---
layout: default
title: Damian Walsh
description: Resume
---
<div class="container">
  <section class="grid gap-4 md:grid-cols-4 pt-14 md:pt-16 xl:px-24">
    <h2 class="font-display pb-1 text-xs uppercase font-semibold tracking-wide text-violet-600 dark:text-violet-300 md:col-span-1 md:text-sm lg:text-base">Summary</h2>
    <p class="pb-4 text-sm lg:text-base md:col-span-3">
      {{ metadata.summary }} 
    </p>
  </section>
  <section class="grid gap-4 md:grid-cols-4 pt-14 md:pt-16 xl:px-24">
    <h2 class="font-display pb-1 text-xs uppercase font-semibold tracking-wide text-violet-600 dark:text-violet-300 md:col-span-1 md:text-sm lg:text-base">Skills</h2>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">User research</h3>
      <p class="pb-4 text-sm lg:text-base">Understanding users goals and pain points using a range of methods including surveys, usability testing, competitor analysis and journey analytics to generate actionable insights.</p>
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Interaction design</h3>
      <p class="pb-4 text-sm lg:text-base">Collaborating with product, content, engineering and other stakeholders as part of an iterative design process, crafting experiences that resonate with users and deliver business value.</p>
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Experimentation and testing</h3>
      <p class="text-sm lg:text-base">Developing hypotheses based on observations and measuring the impact of experiments on success metrics through intent tests, A/B testing and conversion rate optimisation (CRO).</p>
    </div>
  </section>
  <section class="grid gap-4 md:grid-cols-4 pt-14 md:pt-16 xl:px-24">
    <h2 class="font-display pb-1 text-xs uppercase font-semibold tracking-wide text-violet-600 dark:text-violet-300 md:col-span-4 md:text-sm lg:text-base">Experience</h2>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">May 2023 - Jul 2023</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Made Tech</h3>
      <p class="pb-4 text-sm lg:text-base">Public sector technology delivery experts.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Senior Designer</h4>
      <p class="pb-4 text-sm lg:text-base">As a senior-level individual contributor at the Met Office, I worked as part of an agile development team focused on developing consumer-facing native iOS and Android apps that adhere to Government Digital Service (GDS) standards. The team's main goal was improving weather forecast features, helping users make better decisions to stay safe and thrive.</p>
      <h5 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Achievements</h5>
      <ul role="list" class="pl-4 list-disc list-outside marker:text-violet-600 text-sm space-y-4 lg:text-base dark:marker:text-violet-300">
        <li>Championed design systems and helped the team transition from Sketch. Established the foundations of a themeable design system for native apps in Figma.</li>
      </ul>
    </div>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Mar 2021 - May 2023</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Career break</h3>
      <p class="pb-4 text-sm lg:text-base">Time spent focusing on personal goals, health and well-being.</p>
    </div>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Nov 2015 - Mar 2021</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Booking.com</h3>
      <p class="pb-4 text-sm lg:text-base">The world's leading provider of online travel and related services.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Lead Designer</h4>
      <p class="pb-4 text-sm lg:text-base">Responsible for design across the Peace of Mind product group. My role involved influencing, communicating and delivering design efforts aligned with the group's mission to provide customers and partners with clear and simple insurance alongside involvement in wider design team initiatives.</p>
      <h5 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Achievements</h5>
      <ul role="list" class="pb-4 pl-4 list-disc list-outside marker:text-violet-600 text-sm space-y-4 lg:text-base dark:marker:text-violet-300">
        <li>Researched, designed and tested features including an improved product detail page across mobile and desktop offering customers more choices and clearer information.</li>
        <li>Contributed towards improving team culture through facilitation and participation in co-design activities and by securing sponsorship and coordinating events.</li>
        <li>Developed a tool to help teams identify ways of conducting user research and successfully made a case to extend licensing agreements of research tooling.</li>
        <li>Increased consistency and reuse of components across the customer journey and created documentation reducing compliance risk and time to onboard contributors.</li>
      </ul>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Senior Designer</h4>
      <p class="text-sm lg:text-base">Senior-level individual contributor across several Customer Service product teams. Designed new Help Centre and Live Chat features and improved transparency of information through the booking funnel achieving reductions in contact and cancellation.</p>
    </div>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Dec 2008 - Nov 2015</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Freelance</h3>
      <p class="pb-4 text-sm lg:text-base">Independent freelance and contract design for various brands including BBC, Channel 4 and Tesco.</p>
      <p class="text-sm lg:text-base">Engagements ranged from developing prototypes and conducting user research to UI design and front-end development of responsive websites.</p>
    </div>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Dec 2001 - Dec 2008</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">IG</h3>
      <p class="pb-4 text-sm lg:text-base">A global leader in online trading and investments.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Head of Design</h4>
      <p class="pb-4 text-sm lg:text-base">Managed team responsible for UI and interaction design of award-winning online trading platforms. Established consistent visual design across an international range of brands and products.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Senior Designer</h4>
      <p class="pb-4 text-sm lg:text-base">Assembled a cross-functional design team during a period of rapid company growth. Delivered localised public-facing marketing websites and campaign assets supporting international expansion.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Web Designer</h4>
      <p class="text-sm lg:text-base">Part of the web team responsible for delivering financial and sports spread betting products during the period when the business began processing the majority of transactions online.</p>
    </div>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Aug 2001 - Dec 2001</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Tactical Marketing Group</h3>
      <p class="pb-4 text-sm lg:text-base">Integrated marketing services for well-known brands.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Contract Web Designer</h4>
      <p class="text-sm lg:text-base">Designed marketing campaign websites and interactive games for clients including GlaxoSmithKline and Virgin Atlantic.</p>
    </div>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Jun 2000 - Aug 2001</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Future plc</h3>
      <p class="pb-4 text-sm lg:text-base">Specialist media publisher.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Online Editor</h4>
      <p class="text-sm lg:text-base">Responsible for developing website features, creating/sourcing content and engaging with audiences through online channels.</p>
    </div>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Nov 1998 - Jun 2000</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Auto Trader Group plc</h3>
      <p class="pb-4 text-sm lg:text-base">UK and Ireland's largest digital automotive marketplace.</p>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Web Designer</h4>
      <p class="text-sm lg:text-base">Website and online marketing campaign design and production.</p>
    </div>
  </section>
  <section class="grid gap-4 md:grid-cols-4 pt-14 md:pt-16 xl:px-24">
    <h2 class="font-display pb-1 text-xs uppercase font-semibold tracking-wide text-violet-600 dark:text-violet-300 md:col-span-4 md:text-sm lg:text-base">Volunteering</h2>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">Nov 2015 - Mar 2021</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">Northern User Experience (NUX)</h3>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">Organising committee member</h4>
      <p class="text-sm lg:text-base">A not-for-profit organisation run by volunteers which organises regular events across the North of England that attract high-profile international speakers and up to 600 professional delegates in attendance.</p>
    </div>
  </section>
  <section class="grid gap-4 md:grid-cols-4 pt-14 md:pt-16 xl:px-24">
    <h2 class="font-display pb-1 text-xs uppercase font-semibold tracking-wide text-violet-600 dark:text-violet-300 md:col-span-4 md:text-sm lg:text-base">Education</h2>
    <p class="font-display text-xs uppercase font-semibold tracking-wide text-slate-800 md:grid-cols-1 md:text-sm lg:text-base dark:text-slate-50">1995 - 1998</p>
    <div class="md:col-span-3 md:col-start-2">
      <h3 class="font-display text-md font-semibold text-slate-800 lg:text-lg dark:text-slate-50">University of Plymouth</h3>
      <h4 class="font-display text-sm font-semibold pb-2 text-slate-800 lg:text-base dark:text-slate-50">BA (Hons) Media Arts, Communication and Media Studies</h4>
      <p class="text-sm lg:text-base">Developed critical thinking and practical skills across digital, moving images and photography.</p>
    </div>
  </section>
  <div class="text-center pt-14 md:pt-16 xl:px-24">
  <a href="{{ '/images/damian-walsh-resume.pdf' | url }}" class="inline-flex font-semibold text-slate-500 bg-slate-50 px-4 py-3 rounded dark:bg-slate-800 dark:text-slate-300"><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-2 mr-2 stroke-slate-500/75 fill-transparent"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4m4-5 5 5m0 0 5-5m-5 5V3"/></svg>Download PDF</a></div>
</div>
