---
title: Cookies
description: How this website uses cookies to store information.
header_image: cookies/header-image.jpg
---


<div class="site-main-section">
  <div class="container pad-one-col">
    <h2>What are cookies?</h2>
    <p>Cookies are small text files stored by web browsers to provide personalised experiences by storing information about user preferences or past actions. The table below explains the cookies used by this website.</p>
    <h2>Cookies used by this website</h2>
    <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
      <thead>
        <tr>
          <th>Cookie</th>
          <th>Name</th>
          <th>Purpose</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cloudflare</td>
          <td>__cfduid</td>
          <td>This cookie is used to override security restrictions for known trusted visitors and does not store personally identifiable information.</td>
        </tr>
        <tr>
          <td>Google Analytics</td>
          <td>
            <ul class="block-list">
              <li>_ga</li>
              <li>_gat</li>
            </ul>
          </td>
          <td>These cookies collect information about number of visitors to the website and pages visited in an anonymous form.</td>
        </tr>
      </tbody>
    </table>
    <h2>How do I change my settings?</h2>
    <p>Most web browsers allow users to edit cookie settings. To find out more about cookies including managing and deleting them, visit: <a href="http://www.aboutcookies.org/">aboutcookies.org</a> or <a href="http://www.allaboutcookies.org/">allaboutcookies.org</a>.</p>
  </div>
</div>












